body{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}
*{
	margin: 0px;
	padding: 0px;
	border: none;
}


.box{
	width: 1200px;
	border: 1px solid red;
	margin: 50px auto;
}
.top {
    width: 100%;
    height: 178px;
    border: 1px solid blueviolet;
}
.top_top{
	width: 100%;
	height: 125px;
	border: 1px solid yellow;
}
.top_top h3 {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    font-style: italic;
    margin: 23px;
}
.top_top span {
    color: #ca6565;
    font-size: 46px;
    margin: 4px;
}
.top_top img {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}
.sousuo {
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 408px;
    height: 30px;
    margin-top: 45px;
    margin-right: 50px;
}
input[type^="text"] {
    border: 1px solid blue;
    display: inline-block;
    vertical-align: top;
    height: 28px;
    width: 300px;
    border-radius: 2px;
    padding-left: 10px;
}
input[type^="button"] {
    display: inline-block;
    vertical-align: top;
    width: 96px;
    height: 30px;
    border-radius: 2px;
    background: #3384e8;
    font-size: 20px;
    font-family: "微软雅黑";
    color: white;
    font-style: italic;
}
.top_bottom{
	width: 100%;
	height: 50px;
	border: 1px solid salmon;
}
.top_bottom ul{
	list-style: none;
}
.top_bottom li {
    display: inline-block;
    border: 1px solid #e45555;
    width: 190px;
    margin-right: 5px;
    margin-left: 36px;
    height: 36px;
    margin-top: 6px;
    border-radius: 5px;
    text-align: center;
    line-height: 36px;
    background: #d0a9ec;
}
.top_bottom li:hover{
	background: salmon;
	cursor: pointer;
}
.top_bottom a {
    text-decoration: none;
    font-size: 23px;
    color: #983939;
}
.top_bottom a:hover{
	color: white;
}
.center{
	width: 100%;
	border: 1px solid red;
	margin-top: 10px;
}
.center ul{
	list-style: none;
}
.center li{
	display: inline-block;
	vertical-align: top;width: 80px;
	margin: 10px;
}
.center a{
	text-decoration: none;
	color: gray;
}
.center a:hover{
	color: red;
}
