<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">侨盟分销</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	
	<!--输入框部分-->
	<div class="register log_reg">
		<img src="../../img/logo.png"/>
		<a class="reg_btn" href="login.html">注册</a>
	    <a class="reg_btn2 " href="register.html">登录</a> 
	</div>
	
	<!--底部-->
	<div class="reg_logo">
		<img class="line_img" src="../../img/line.png"/>
		<span class="share_text">第三方账号快速登录</span>
		<img class="line_img" src="../../img/line.png"/>
		<div class="share_img">
			<img src="../../img/wechat.png"/>
			<img src="../../img/qq.png"/>
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html> 