<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">登录侨盟</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	
	<!--输入框部分-->
	<div class="register">
		<div class="reg">
			<img class="tel_img" src="../../img/iphone.png"/>
			<input class="tel_ipt" type="text" name="" id="" placeholder="输入手机号码" maxlength="11"/>
		</div>
		<div class="reg">
			<img class="psd_img" src="../../img/lock.png"/>
			<input class="psd_ipt" type="password" name="" id="" placeholder="输入登录密码" />
		</div>
		<a class="reg_btn" id="register" href="javascript:;">登录</a>
		<div class="forget">忘记密码</div>
		<img class="prev_img" src="../../img/prev.png"/>
		<div class="reg_logo">
			<img class="line_img" src="../../img/line.png"/>
			<img class="logo_img" src="../../img/logo.png"/>
			<img class="line_img" src="../../img/line.png"/>
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html> 