<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">侨盟小店</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	<div class="box3"></div>
	
	<!--直营店-->
	<div class="store1">
		<img class="store1_check" src="../../img/check.png"/>
		<div class="store_name">明估泰鞋服</div>
		<img class="store_img" src="../../img/store3.png"/>
		<img class="right_img1" src="../../img/detail_icon5-08.png"/>
		<div class="store_edit">编辑</div>
	</div>
	<div class="store_list car_list">
		<img class="store1_check" src="../../img/check.png"/>
		<img class="list_img2" src="../../images/bg21.jpg"/>
		<div class="list_right2 car_right2">
			<div class="right2_title">
				<div class="list_icon list_icon1">特</div>
				ECCO爱步   男士系带增高光面休闲鞋
			</div>
			<div class="right2_color">颜色：墨绿； 鞋码：39；</div>
			<div class="right2_price">
				￥688
				<span>x1</span>
			</div>
		</div>
	</div>
	<div class="store_list car_list">
		<img class="store1_check" src="../../img/check.png"/>
		<img class="list_img2" src="../../images/bg21.jpg"/>
		<div class="list_right2 car_right2">
			<div class="right2_title">
				<div class="list_icon list_icon1">特</div>
				ECCO爱步   男士系带增高光面休闲鞋
			</div>
			<div class="right2_color">颜色：墨绿； 鞋码：39；</div>
			<div class="right2_price">
				￥688
				<span>x1</span>
			</div>
		</div>
	</div>
	<div class="store1">
		<img class="store1_check" src="../../img/uncheck.png"/>
		<div class="store_name">美人季-麦家纺</div>
		<img class="store_img" src="../../img/stores2.png"/>
		<img class="right_img1" src="../../img/detail_icon5-08.png"/>
		<div class="store_edit">编辑</div>
	</div>
	<div class="store_list car_list car_list2">
		<img class="store1_check" src="../../img/check.png"/>
		<img class="list_img2" src="../../images/car_img.png"/>
		<div class="list_right2 car_right2">
			<div class="right2_title">
				麦家纺床上用品哥本哈根.格生态磨毛四件套
			</div>
			<div class="right2_color">颜色：墨绿； 鞋码：39；</div>
			<div class="right2_price">
				￥688
				<span>x1</span>
			</div>
		</div>
	</div>
	
	<!--右侧固定-->
	<div class="right_fixed">
		<img src="../../img/prev.png"/>
		<img src="../../img/car_icon.png"/>
	</div>
	<div class="box"></div>
	<div class="foot_check">
		<img class="foot_check_img" src="../../img/uncheck.png"/>
		<div class="foot_text">全选</div>
		<div class="foot_add car_add">结算（3）</div>
		<div class="car_sum car_sum2">
			<span>合计：</span>￥1476
			<div class="send_price">不含运费</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html>  