<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">购买确认</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	<!--地址-->
	<div class="buy_address">
		<div class="address_text clearfix">
			<div class="address_user fl">收货人：{{obj.name}}</div>
			<div class="address_tel">{{obj.phone}} </div>
		</div>
		<div class="address_detail">
			<div class="address_default">[默认地址]</div>
			<div class="address_detail2">{{obj.province}}{{obj.city}}  {{obj.detail}}</div>
			<img class="right_img" src="../../img/detail_icon5-08.png"/>
		</div>
		<img class="address_letter" src="../../img/car_letter.png"/>
	</div>
	<!--直营店-->
	<div class="shop_box">
		<div class="store">
			<span class="store_text">{{obj.shopName}}</span>
			<img class="store_img" src="../../img/stores.png"/>
			<img class="right_img1" src="../../img/detail_icon5-08.png"/>
		</div>
		<div class="store_list">
			<img class="list_img1" :src="'http://172.16.35.242:8080/distribution/'+obj.goodsImage"/>
			<div class="list_icon">特</div>
			<div class="list_right2">
				<div class="right2_title">{{obj.goodsName}}</div>
				<div class="right2_color">{{obj.goodsSize}}；</div>
				<div class="right2_price">
					￥<span class="buy_price">{{obj.goodsPrice}}</span>
					<span class="buy_num">x1</span>
				</div>
			</div>
		</div>
	</div>
	
	<!--购买数量-->
	<div class="store_num">
		<div class="num_text">购买数量</div>
		<div class="num_sum">
			<span class="sum_left subtraction">-</span>
			<span class="sum_detail sum_detail1">1</span>
			<span class="sum_left add">+</span>
		</div>
	</div>
	<!--配送方式-->
	<div class="send">
		<div class="num_text">配送方式</div>
		<div class="num_sum">
			<span class="sum_detail">快递 免邮</span>
			<img class="right_img2" src="../../img/detail_icon5-08.png"/>
		</div>
	</div>
	<!--买家留言-->
	<div class="send">
		<div class="num_text">买家留言:</div>
		<input type="text" class="leave" placeholder="选填，可填写您和卖家达成一致的要求" />
	</div>
	<!--合计-->
	<div class="car_sum">
		<span>合计：</span>￥<span class="car_sum3">1476</span>
	</div>
	<!--右侧固定-->
	<div class="right_fixed">
		<img src="../../img/prev.png"/>
		<img src="../../img/car_icon.png"/>
	</div>
	<!--<div class="box"></div>-->
	<div class="buy_btn">确定</div>
	<script src="../../js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/style.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		var loc = location.href;
	    var n1 = loc.length;//地址的总长度
		var n2 = loc.indexOf("=");//取得=号的位置
		var id = decodeURI(loc.substr(n2+1, n1-n2));//从=号后面的内容
		var sid = localStorage.getItem("key")
		var obj1;
		
		var price
		$.ajax({
			type:"get",
			url:"http://172.16.35.242:8080/distribution/api/goods/get",
			data:{
				id:id
			},
			success:function(data){
				console.log(data.data);
				var obj1 = data.data;
				price = obj1.goodsPrice;
				var num =parseInt($(".sum_detail1").text());
				
				priceSum();
				var order = new Vue({
					el:".shop_box",
					data:{
						obj:obj1
					}
				})
			}
		});
		//获取地址
		$.ajax({
			type:"get",
			url:"http://172.16.35.242:8080/distribution/api/address/get",
			data:{
				sid:sid
			},
			success:function(data){
				var obj1 = data.data;
				var order = new Vue({
					el:".buy_address",
					data:{
						obj:obj1
					}
				})
			}
		});
		
		//总价计算
		function priceSum(){
			var num =parseInt($(".sum_detail1").text());
			$(".car_sum3").text(price*num)
		}
		var num=1;
		$(".subtraction,.add").click(function(){
			if($(this).hasClass("subtraction")){
				num--;
			}else{
				num++;
			}
			if(num<=1){
				num=1
			}
			$(".sum_detail1").text(num);
			$(".buy_num").text('x'+num)
			priceSum()
		})
		</script>
		<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
		<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html>  