<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">商品管理</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	
	
	<!--主要显示部分-->
	<div class="preview_main">
		<img class="preview_bg" src="../../img/preview_bg.jpg"/>
		<img class="detail_icon1" src="../../img/detail_icon1.png"/>
		<img class="shop_set" src="../../img/shop_set.png"/>
		<img class="shop_share" src="../../img/shop_share.png"/>
		<div class="attention" @click="getCustomers">+关注</div>
		<div class="unattention" >取消关注</div>
		<div class="prev_head">
			<img class="prev_img4" src="../../images/detail_head.png"/>
			<div class="head_right">
				<div class="right_text2">{{obj.shopName}}</div>
				<div class="right_text3">
					<img class="stores_icon" src="../../img/stores.png"/>
					<img src="../../img/heart.png"/>
					<img src="../../img/heart.png"/>
					<img src="../../img/heart.png"/>
					<img src="../../img/heart.png"/>
					<img src="../../img/heart.png"/>
				</div>
			</div>
		</div>
		<ul class="preview_nav">
			<li>
				{{obj.totalNum}}
				<div class="nav_second">全部宝贝</div>
			</li>
			<span class="preview_line"></span>
			<li>
				{{obj.newNum}}
				<div class="nav_second">上新</div>
			</li>
			<span class="preview_line"></span>
			<li>
				{{obj.area}}
				<div class="nav_second">所在地区</div>
			</li>
			<span class="preview_line"></span>
			<li>
				<img class="shop_list" src="../../img/shop_list.png"/>
			</li>
		</ul>
	</div>
	
	<div class="preview_main2">
		<div class="preview_title">
			<img src="../../img/line.png"/>
			<div class="preview_text">热卖商品（122）</div>
			<img src="../../img/line.png"/>
		</div>
		
		<!--详情列表-->
		<div class="list">
			<div class="list_detail list_detail1">
				<img class="list_img" src="../../images/bg9.jpg"/>
				<div class="list_text"> 初新生婴儿小床便携式bb床围床上床可折叠宝宝睡床初新生婴儿小床便携式bb床围床上床可</div>
				<div class="price_box">
					<div class="price">
						<span class="price_icon">￥</span>68.0
					</div>
					<div class="price2">￥168.0</div>
					<div class="discount">5.5折</div>
				</div>
			</div>
			<div class="list_detail list_detail1">
				<img class="list_img" src="../../images/bg10.jpg"/>
				<div class="list_text"> 初新生婴儿小床便携式bb床围床上床可折叠宝宝睡床初新生婴儿小床便携式bb床围床上床可</div>
				<div class="price_box">
					<div class="price">
						<span class="price_icon">￥</span>688.0
					</div>
					<div class="price2">￥968.0</div>
					<div class="discount">5.5折</div>
				</div>
			</div>
			<div class="list_detail list_detail1">
				<img class="list_img" src="../../images/bg11.jpg"/>
				<div class="list_text"> 初新生婴儿小床便携式bb床围床上床可折叠宝宝睡床初新生婴儿小床便携式bb床围床上床可</div>
				<div class="price_box">
					<div class="price">
						<span class="price_icon">￥</span>68.0
					</div>
					<div class="price2">￥168.0</div>
					<div class="discount">5.5折</div>
				</div>
			</div>
			<div class="list_detail list_detail1">
				<img class="list_img" src="../../images/bg12.jpg"/>
				<div class="list_text"> 初新生婴儿小床便携式bb床围床上床可折叠宝宝睡床初新生婴儿小床便携式bb床围床上床可</div>
				<div class="price_box">
					<div class="price">
						<span class="price_icon">￥</span>68.0
					</div>
					<div class="price2">￥168.0</div>
					<div class="discount">5.5折</div>
				</div>
			</div>
			<div class="list_detail list_detail1">
				<img class="list_img" src="../../images/bg14.jpg"/>
				<div class="list_text"> 初新生婴儿小床便携式bb床围床上床可折叠宝宝睡床初新生婴儿小床便携式bb床围床上床可</div>
				<div class="price_box">
					<div class="price">
						<span class="price_icon">￥</span>68.0
					</div>
					<div class="price2">￥168.0</div>
					<div class="discount">5.5折</div>
				</div>
			</div>
			<div class="list_detail list_detail1">
				<img class="list_img" src="../../images/bg13.jpg"/>
				<div class="list_text"> 初新生婴儿小床便携式bb床围床上床可折叠宝宝睡床初新生婴儿小床便携式bb床围床上床可</div>
				<div class="price_box">
					<div class="price">
						<span class="price_icon">￥</span>68.0
					</div>
					<div class="price2">￥168.0</div>
					<div class="discount">5.5折</div>
				</div>
			</div>
			<div class="more_text">加载更多...</div>
		</div>
	</div>
	
	<!--底部导航-->
	<ul class="preview_footer">
		<li class="preview_active">
			<img src="../../img/shop_icon10.png"/><br />
			首页
		</li>
		<li>
			<img src="../../img/shop_icon11.png"/><br />
			成为合伙人
		</li>
		<li>
			<img src="../../img/shop_icon12.png"/><br />
			购物车
		</li>
		<li>
			<img src="../../img/foot_icon4.png"/><br />
			我的
		</li>
	</ul>
	
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
   	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
   	<script src="../../js/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
	<script>
		var sid = localStorage.getItem("key");
		var  shopName,obj1,name,shopId;
		//店铺信息
		var shopId;
		$.ajax({
		    type: 'GET',
		    url:'http://172.16.35.242:8080/distribution/api/shop/get',
		    data:{
		    	sid:sid
		    },
		    success:function(data){   
		    	console.log(data.data)
		    	obj = data.data;
		   		shopId = data.data.shopId;
//		   		console.log(shopId)
		   		storeMessage();
		    },
		    dataType:'json'
		});
		
		
 		function storeMessage(){
 			var message = new Vue({
			    el: '.preview_main',
			    data: {
			    	obj:obj
			    },
			     methods: {
			        getCustomers: function() {
			        	$(".attention").css("display","none");
			        	$(".unattention").css("display","block");
		                var url="http://172.16.35.242:8080/distribution/api/shop/follow";
		                this.$http.post(url,{shopId:shopId,sid:sid},{emulateJSON:true}).then(function(data){
		                	console.log(data.data)
		                },function(response){
		                    console.log(response);
		                })
			        }
			    }
			})
 		}

	</script>
</body>
</html> 