<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">商品管理</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	
	<!--主要显示部分-->
	<div class="manage_nav"> 
		<img class="manage_prev2" src="../../img/prev2.png"/>
		<div class="manage2_nav">
			<div class="nav3_box">
				销售中<img src="../../img/down_red.png" />
			</div>
			<div class="nav3_box">
				最新排序<img src="../../img/down_red.png" />
			</div>
			<div class="nav3_box nav3_box2">
				筛选<img src="../../img/down.png" />
			</div>
		</div>
	</div>
	
	<!--详细列表-->
	<div class="manage_list">
		<img class="manage_check" src="../../img/check.png"/>
		<img class="list_img2" src="../../images/bg21.jpg"/>
		<div class="list_detail3">
			<div class="list_title list_title2">KUYURA美肌护手霜（天然果香型）150ml（韩国直送）</div>
			<div class="list_price">
				<span class="list_price1">￥56.00</span>     
				佣金：<span class="list_price2">￥2.65</span>
			</div>
			<div class="list_text1">
				剩余1799件 &nbsp; 销量645 &nbsp; 收藏334
			</div>
		</div>
	</div>
	<div class="manage_list">
		<img class="manage_check" src="../../img/check.png"/>
		<img class="list_img2" src="../../images/bg21.jpg"/>
		<div class="list_detail3">
			<div class="list_title list_title2">KUYURA美肌护手霜（天然果香型）150ml（韩国直送）</div>
			<div class="list_price">
				<span class="list_price1">￥56.00</span>     
				佣金：<span class="list_price2">￥2.65</span>
			</div>
			<div class="list_text1">
				剩余1799件 &nbsp; 销量645 &nbsp; 收藏334
			</div>
		</div>
	</div>
	<div class="manage_list">
		<img class="manage_check" src="../../img/check.png"/>
		<img class="list_img2" src="../../images/bg21.jpg"/>
		<div class="list_detail3">
			<div class="list_title list_title2">KUYURA美肌护手霜（天然果香型）150ml（韩国直送）</div>
			<div class="list_price">
				<span class="list_price1">￥56.00</span>     
				佣金：<span class="list_price2">￥2.65</span>
			</div>
			<div class="list_text1">
				剩余1799件 &nbsp; 销量645 &nbsp; 收藏334
			</div>
		</div>
	</div>
	<div class="manage_list">
		<img class="manage_check" src="../../img/uncheck.png"/>
		<img class="list_img2" src="../../images/bg21.jpg"/>
		<div class="list_detail3">
			<div class="list_title list_title2">KUYURA美肌护手霜（天然果香型）150ml（韩国直送）</div>
			<div class="list_price">
				<span class="list_price1">￥56.00</span>     
				佣金：<span class="list_price2">￥2.65</span>
			</div>
			<div class="list_text1">
				剩余1799件 &nbsp; 销量645 &nbsp; 收藏334
			</div>
		</div>
	</div>
	<div class="manage_list">
		<img class="manage_check" src="../../img/uncheck.png"/>
		<img class="list_img2" src="../../images/bg21.jpg"/>
		<div class="list_detail3">
			<div class="list_title list_title2">KUYURA美肌护手霜（天然果香型）150ml（韩国直送）</div>
			<div class="list_price">
				<span class="list_price1">￥56.00</span>     
				佣金：<span class="list_price2">￥2.65</span>
			</div>
			<div class="list_text1">
				剩余1799件 &nbsp; 销量645 &nbsp; 收藏334
			</div>
		</div>
	</div>
	
	<div class="box"></div>
	<div class="foot_check manage2_footer">
		<div class="foot_text foot_text1">
			<img class="manage2_footer_img" src="../../img/uncheck.png"/>全选
		</div>
		<div class="manage2_btn manage2_delete">删除</div>
		<div class="manage2_btn manage2_up">上架</div>
		<div class="manage2_btn manage2_down">下架</div>
	</div>
	<script src="../../js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/style.js" type="text/javascript" charset="utf-8"></script>
	
	
</body>
</html>   