<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body class="active_bg">
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">活动详情</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	<div class="box3"></div>
	<!--轮播图-->
	
	<img class="active_img" src="../../images/active_bg.jpg"/>
	
	<!--倒计时-->
	<div class="active_time">
		<div class="time_title1">距离活动结束还有</div>
		<div class="time_show time_show2">
			<div class="time_num2">0</div>
			<div class="time_num2">1</div>天
			<div class="time_num2">0</div>
			<div class="time_num2">1</div>时
			<div class="time_num2">4</div>
			<div class="time_num2">5</div>分
			<div class="time_num2">5</div>
			<div class="time_num2">4</div>秒
		</div>
	</div>
		
	
	<!--详情列表-->
	<div class="list">
		<div class="list_detail list_detail1">
			<img class="list_img" src="../../images/bg9.jpg"/>
			<div class="list_text"> 初新生婴儿小床便携式bb床围床上床可折叠宝宝睡床初新生婴儿小床便携式bb床围床上床可</div>
			<div class="price_box">
				<div class="price">
					<span class="price_icon">￥</span>68.0
				</div>
				<div class="price2">￥168.0</div>
				<div class="discount">5.5折</div>
			</div>
		</div>
		<div class="list_detail list_detail1">
			<img class="list_img" src="../../images/bg9.jpg"/>
			<div class="list_text"> 初新生婴儿小床便携式bb床围床上床可折叠宝宝睡床初新生婴儿小床便携式bb床围床上床可</div>
			<div class="price_box">
				<div class="price">
					<span class="price_icon">￥</span>68.0
				</div>
				<div class="price2">￥168.0</div>
				<div class="discount">5.5折</div>
			</div>
		</div>
		<div class="list_detail list_detail1">
			<img class="list_img" src="../../images/bg9.jpg"/>
			<div class="list_text"> 初新生婴儿小床便携式bb床围床上床可折叠宝宝睡床初新生婴儿小床便携式bb床围床上床可</div>
			<div class="price_box">
				<div class="price">
					<span class="price_icon">￥</span>68.0
				</div>
				<div class="price2">￥168.0</div>
				<div class="discount">5.5折</div>
			</div>
		</div>
		<div class="list_detail list_detail1">
			<img class="list_img" src="../../images/bg9.jpg"/>
			<div class="list_text"> 初新生婴儿小床便携式bb床围床上床可折叠宝宝睡床初新生婴儿小床便携式bb床围床上床可</div>
			<div class="price_box">
				<div class="price">
					<span class="price_icon">￥</span>68.0
				</div>
				<div class="price2">￥168.0</div>
				<div class="discount">5.5折</div>
			</div>
		</div>
		<div class="list_detail list_detail1">
			<img class="list_img" src="../../images/bg9.jpg"/>
			<div class="list_text"> 初新生婴儿小床便携式bb床围床上床可折叠宝宝睡床初新生婴儿小床便携式bb床围床上床可</div>
			<div class="price_box">
				<div class="price">
					<span class="price_icon">￥</span>68.0
				</div>
				<div class="price2">￥168.0</div>
				<div class="discount">5.5折</div>
			</div>
		</div>
		<div class="list_detail list_detail1">
			<img class="list_img" src="../../images/bg9.jpg"/>
			<div class="list_text"> 初新生婴儿小床便携式bb床围床上床可折叠宝宝睡床初新生婴儿小床便携式bb床围床上床可</div>
			<div class="price_box">
				<div class="price">
					<span class="price_icon">￥</span>68.0
				</div>
				<div class="price2">￥168.0</div>
				<div class="discount">5.5折</div>
			</div>
		</div>
		<div class="more_text more_text2">加载更多...</div>
	</div>
	<script src="../../js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/style.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>  