<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">侨盟小店</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	
	<!--搜索栏-->
	<div class="search">
		<div class="manage_input">
			<div class="search_box search_box2">
				<div class="search_type">
					商品
					<img class="down_img" src="../../img/down.png"/>
				</div>
				<input class="search_ipt search_ipt2" type="text" placeholder="请输入关键词搜索" />
				<img class="seardh_img" src="../../img/seardh.png"/>
			</div>
		</div>
		<img class="shop_img" src="../../img/classify_sweep.png"/>
	</div>
	
	
	<!--左侧导航-->
	<ul class="classify_left fl">
		<li class="active">推荐分类</li>
		<li>母婴频道</li>
		<li>潮流女装</li>
		<li>品牌男装</li>
		<li>个护化妆</li>
		<li>运动户外</li>
		<li>食品保健</li>
		<li>品牌男装</li>
		<li>个护化妆</li>
		<li>运动户外</li>
		<li>食品保健</li>
	</ul>
	
	<!--右侧详细显示部分-->
	<div class="classify_right">
		<img class="classify_img" src="../../images/classify_bg.jpg"/>
		<div class="classify_title">
			<span>热门分类</span>
			<img src="../../img/line.png"/>
		</div>
		<div class="classify_detail">
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg11.jpg"/>
				儿童辅食
				<img class="list_check" src="../../img/check.png"/>
			</div>
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg10.jpg"/>
				儿童辅食
				<img class="list_check" src="../../img/uncheck.png"/>
			</div>
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg9.jpg"/>
				儿童辅食
				<img class="list_check" src="../../img/check.png"/>
			</div>
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg14.jpg"/>
				儿童辅食
				<img class="list_check" src="../../img/uncheck.png"/>
			</div>
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg13.jpg"/>
				儿童辅食
				<img class="list_check" src="../../img/check.png"/>
			</div>
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg12.jpg"/>
				儿童辅食
				<img class="list_check" src="../../img/vcheck.png"/>
			</div>
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg9.jpg"/>
				儿童辅食
				<img class="list_check" src="../../img/check.png"/>
			</div>
				<div class="classify_list">
					<img class="classify_bg" src="../../images/bg10.jpg"/>
					儿童辅食
					<img class="list_check" src="../../img/check.png"/>
				</div> 
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg11.jpg"/>
				儿童辅食
				<img class="list_check" src="../../img/uncheck.png"/>
			</div>
		</div>
		
	</div>
	
	<div class="foot_check">
		<img class="foot_check_img" src="../../img/uncheck.png"/>
		<div class="foot_text">全选</div>
		<div class="foot_add">确认添加</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html>  