<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">侨盟小店</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	
	<!--搜索栏-->
	<div class="search">
		<div class="manage_input">
			<div class="search_box search_box2">
				<div class="search_type">
					商品
					<img class="down_img" src="../../img/down.png"/>
				</div>
				<input class="search_ipt search_ipt2" type="text" placeholder="请输入关键词搜索" />
				<img class="seardh_img" src="../../img/seardh.png"/>
			</div>
		</div>
		<img class="shop_img" src="../../img/classify_sweep.png"/>
	</div>
	
	
	<!--左侧导航-->
	<ul class="classify_left fl">
		<li  v-for="obj in  obj" :data-orderNum= "obj.orderNum">{{obj.cateName}}</li>
		<!--<li>母婴频道</li>
		<li>潮流女装</li>
		<li>品牌男装</li>
		<li>个护化妆</li>
		<li>运动户外</li>
		<li>食品保健</li>
		<li>品牌男装</li>
		<li>个护化妆</li>
		<li>运动户外</li>
		<li>食品保健</li>-->
	</ul>
	
	<!--右侧详细显示部分-->
	<div class="classify_right">
		<img class="classify_img" src="../../images/classify_bg.jpg"/>
		<div class="classify_title">
			<span>热门分类</span>
			<img src="../../img/line.png"/>
		</div>
		<div class="classify_detail">
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg11.jpg"/>
				儿童辅食
			</div>
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg10.jpg"/>
				儿童辅食
			</div>
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg9.jpg"/>
				儿童辅食
			</div>
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg14.jpg"/>
				儿童辅食
			</div>
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg13.jpg"/>
				儿童辅食
			</div>
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg12.jpg"/>
				儿童辅食
			</div>
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg9.jpg"/>
				儿童辅食
			</div>
				<div class="classify_list">
					<img class="classify_bg" src="../../images/bg10.jpg"/>
					儿童辅食
				</div> 
			<div class="classify_list">
				<img class="classify_bg" src="../../images/bg11.jpg"/>
				儿童辅食
			</div>
		</div>
	</div>
	
	<div class="footer">
		<div class="footer_box">
			<img src="../../img/open_icon18.png"/>
			首页
		</div>
		<div class="footer_box">
			<img src="../../img/foot_icon2.png"/>
			开店
		</div>
		<div class="footer_box footer_active">
			<img src="../../img/foot_icon3_1.png"/>
			分类
		</div>
		<div class="footer_box">
			<img src="../../img/foot_icon4.png"/>
			我的
		</div>
	</div>
	<script src="../../js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/style.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var sid = localStorage.getItem("key")
		var shopId,obj1;
		$.ajax({
		    type: 'POST',
		    url:'http://172.16.35.242:8080/distribution/api/cate/list',
		    data:{
		    	sid:sid
		    },
		    success:function(data){   
		    	console.log(data.data);
		    	obj1 = data.data;
		    	classify();
		    	$(".classify_left li").eq(0).addClass("active"); 
		    } ,
		    dataType:'json'
		});
   		function classify(){
   			var classify = new Vue({
			  el: '.classify_left',
			  data: {
			  	obj:obj1
			  }
			})
// 			var app = new Vue({
//			  el: '.set_head',
//			  data: {
//			    obj:obj
//			  }
//			})
   		}
   		
		
	</script>
</body>
</html>  