<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
	<style type="text/css">
		.gain_code{
			border-color: #dcdddd;
			color: #898989;
		}
	</style>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">设置</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	
	<!--输入框部分-->
	<div class="register">
		<div class="reg">
			<img class="tel_img" src="../../img/iphone.png"/>
			<input class="tel_ipt" type="text" name="" id="" placeholder="输入要绑定的新手机号" maxlength="11"/>
		</div>
		<div class="reg">
			<img class="psd_img" src="../../img/set_in.png"/>
			<input class="code_ipt" type="text" name="" id="" placeholder="输入验证码" />
			<div class="send_code gain_code">获取验证码</div>
		</div>
		<div class="reg_btn">登录</div>
		<img class="prev_img prev_img2" src="../../img/prev.png"/>
	</div>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html>  