<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
	<style type="text/css">
	</style>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">侨盟小店</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	
	
	<!--主要显示部分-->
	<div class="open_main mine_main">
		<img class="preview_bg" src="../../img/preview_bg.jpg"/>
		<div class="open_head">
			<img class="open_img" src="../../images/detail_head.png"/>
			<div class="open_right">
				<div class="mine_text2">旋转的木马</div>
			</div>
			<img class="mine_img" src="../../img/mine_icon11.png"/>
		</div>
	</div>
	
	<!--状态-->
	<div class="mine_state">
		<div class="state_detail">
			<img src="../../img/mine_icon1.png"/><br />
			待付款
		</div>
		<div class="state_detail">
			<img src="../../img/mine_icon3-2.png"/><br />
			待发货
		</div>
		<div class="state_detail">
			<img src="../../img/mine_icon3.png"/><br />
			待收货
		</div>
		<div class="state_detail">
			<img src="../../img/mine_icon4.png"/><br />
			待评价
		</div>
		<div class="state_detail">
			<img src="../../img/mine_icon5.png"/><br />
			已完成
		</div>
	</div>
	
	<!--全部订单-->
	<div class="all_orders">
		<img class="mine_icon" src="../../img/mine_icon6.png"/>
		全部订单
		<img class="card1_img2" src="../../img/detail_icon5-08.png"/>
	</div>
	<div class="all_orders all_orders1">
		<img class="mine_icon" src="../../img/mine_icon7.png"/>
		收藏商品
		<img class="card1_img2" src="../../img/detail_icon5-08.png"/>
	</div>
	<div class="all_orders">
		<img class="mine_icon" src="../../img/mine_icon8.png"/>
		收藏店铺
		<img class="card1_img2" src="../../img/detail_icon5-08.png"/>
	</div>
	<div class="all_orders">
		<img class="mine_icon" src="../../img/mine_icon9.png"/>
		管理收货地址
		<img class="card1_img2" src="../../img/detail_icon5-08.png"/>
	</div>
	<div class="all_orders all_orders1">
		<img class="mine_icon" src="../../img/mine_icon10.png"/>
		设置
		<img class="card1_img2" src="../../img/detail_icon5-08.png"/>
	</div>
	<div class="all_orders">
		<img class="mine_icon" src="../../img/mine_icon11-12.png"/>
		帮助与反馈
		<img class="card1_img2" src="../../img/detail_icon5-08.png"/>
	</div>
	
	<div class="box"></div>
	<!--底部导航-->
	<div class="footer">
		<div class="footer_box">
			<img src="../../img/open_icon18.png"/>
			首页
		</div>
		<div class="footer_box">
			<img src="../../img/foot_icon2.png"/>
			开店
		</div>
		<div class="footer_box">
			<img src="../../img/foot_icon3.png"/>
			分类
		</div>
		<div class="footer_box footer_active">
			<img src="../../img/footer_icon4-1.png"/>
			我的
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html>
