<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">侨盟小店</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	
	
	<!--主要显示部分-->
	<!--<div class="open_main mine_main2">
		<img class="preview_bg" src="../../img/preview_bg.jpg"/>
		<img class="mine_img2" src="../../img/mine_icon11.png"/>
		<div class="open_head open_head2">
			<img class="open_img" src="../../img/detail_head.png"/>
			<div class="open_right">
				<div class="mine_text1">旋转的木马</div>
			</div>
		</div>
	</div>-->
	<div class="preview_main mine_main2">
		<img class="preview_bg" src="../../img/preview_bg.jpg"/>
		<img class="mine_img2" src="../../img/mine_icon11.png"/>
		<div class="prev_head">
			<img class="prev_img4" src="../../images/detail_head.png"/>
			<div class="head_right">
				<div class="right_text2">侨盟店铺0000的小店</div>
				<ul class="preview_nav">
					<a href="../../view/goods/goods_collection.html">
						<li>
							<div class="nav_one">50</div>
							<div class="nav_second">收藏的商品</div>
						</li>
					</a>
					
					<li>
						<div class="nav_one">50</div>
						<div class="nav_second">关注的店铺</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--状态-->
	<div class="mine_state">
		<div class="state_detail">
			<img src="../../img/mine_icon1.png"/><br />
			待付款
		</div>
		<div class="state_detail">
			<img src="../../img/mine_icon3-2.png"/><br />
			待发货
		</div>
		<div class="state_detail">
			<img src="../../img/mine_icon3.png"/><br />
			待收货
		</div>
		<div class="state_detail">
			<img src="../../img/mine_icon4.png"/><br />
			待评价
		</div>
		<div class="state_detail">
			<img src="../../img/mine_icon5.png"/><br />
			已完成
		</div>
	</div>
	
	<!--全部订单-->
	<a class="all_orders" href="user_order.html">
		<img class="mine_icon" src="../../img/mine_icon6.png"/>
		全部订单
		<img class="card1_img2" src="../../img/detail_icon5-08.png"/>
	</a>
	<a href="user_message.html">
		<div class="all_orders all_orders1">
			<img class="mine_icon" src="../../img/mine_icon12.png"/>
			消息
			
			<img class="card1_img2" src="../../img/detail_icon5-08.png"/>
			<span>8</span>
		</div>
	</a>
	
	<div class="all_orders">
		<img class="mine_icon" src="../../img/mine_icon8.png"/>
		我的收货地址
		<img class="card1_img2" src="../../img/detail_icon5-08.png"/>
	</div>
	<div class="all_orders">
		<img class="mine_icon" src="../../img/mine_icon14.png"/>
		我的小店
		<img class="card1_img2" src="../../img/detail_icon5-08.png"/>
	</div>
	<div class="all_orders all_orders1">
		<img class="mine_icon" src="../../img/mine_icon15.png"/>
		银行卡
		<img class="card1_img2" src="../../img/detail_icon5-08.png"/>
	</div>
	<div class="all_orders all_orders1">
		<img class="mine_icon" src="../../img/mine_icon10.png"/>
		设置
		<img class="card1_img2" src="../../img/detail_icon5-08.png"/>
	</div>
	<div class="all_orders">
		<img class="mine_icon" src="../../img/mine_icon11-12.png"/>
		帮助与反馈
		<img class="card1_img2" src="../../img/detail_icon5-08.png"/>
	</div>
	
	<div class="box"></div>
	<!--底部导航-->
	<div class="footer">
		<a href="../../index.html">
			<div class="footer_box">
				<img src="../../img/open_icon18.png"/>
				首页
			</div>
		</a>
		<a href="../../view/shop/shop_open.html">
			<div class="footer_box">
				<img src="../../img/foot_icon2.png"/>
				开店
			</div>
		</a>
		<div class="footer_box">
			<img src="../../img/foot_icon3.png"/>
			分类
		</div>
		<a href="user_mine.html">
			<div class="footer_box footer_active">
				<img src="../../img/footer_icon4-1.png"/>
				我的
			</div>
		</a>
	</div>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html>
