<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">佣金提现</span>
		<img class="more_img" src="../../img/more.png"/> 
	</div>
	
	<div class="reflect_head">
		<img class="reflect_icon" src="../../img/return.png"/>
		<div class="reflect_money">
			<div class="money">账户余额(元)</div>
			<div class="money_num">500.00</div>
		</div>
		<div class="reflect_right">
			<div class="reflect_right1">
				明细
				<img class="reflect_icon1" src="../../img/reflect_icon1.png"/>
			</div>
			<img class="reflect_icon2" src="../../img/reflect_icon2.png"/>
		</div>
	</div>
	
	<div class="bank_card1">
		<img class="card1_img" src="../../img/bank_icon2.png"/>
		<div class="card1_text">
			建设银行<br />
			<span>尾号2607</span>
		</div>
		<img class="card1_img2" src="../../img/detail_icon5-08.png"/>
	</div>
	
	<div class="bank_title2">注：金额需大于100元才可提现。</div>
	
	<div class="reflect_money2">
		<div class="money2_text">提现金额</div>
		<input class="money2_ipt" type="text" placeholder="请输入提现金额" />
		<div class="money2_btn">全额提出</div>
	</div>
	
	<div class="bind_btn">申请提现</div>
	
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html> 