<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">绑定提现账户</span>
		<img class="more_img" src="../../img/more.png"/> 
	</div>
	<div class="box3"></div>
	<!--银行列表-->
	<div class="bank_card clearfix">
		<img class="card_img fl" src="../../img/bank_icon.png"/>
		<div class="card_detail fl">
			<div class="card_text">支付宝</div>
			<div class="card_text1">wedfs@163.com</div>
		</div>
		<div class="card_detail2 fl">
			<img src="../../img/bank_icon3.png"/>
			提现账户
		</div>
	</div>
	
	<div class="bank_card clearfix">
		<img class="card_img fl" src="../../img/bank_icon1.png"/>
		<div class="card_detail fl">
			<div class="card_text">招商银行
				<span>信用卡</span>
			</div>
			<div class="card_text1">**** **** **** ***3 213</div>
		</div>
	</div>
	
	<div class="bank_card clearfix">
		<img class="card_img fl" src="../../img/bank_icon2.png"/>
		<div class="card_detail fl">
			<div class="card_text">建设银行
				<span>储蓄卡</span>
			</div>
			<div class="card_text1">**** **** **** ***3 213</div>
		</div>
	</div>
	
	<!--右侧固定-->
	<div class="right_fixed right_fixed2">
		<img src="../../img/prev.png"/>
		<img src="../../img/car_icon.png"/>
	</div>
	
	<div class="bank_foot">
		<a href="user_bank_add2.html">
			<div class="foot1">+添加银行卡</div>
		</a>
		<a href="user_bank_add.html">
			<div class="foot1 foot2">换绑提现账户</div>
		</a>
	</div>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html> 