<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">绑定提现账户</span>
		<img class="more_img" src="../../img/more.png"/> 
	</div>
	<!--输入框部分-->
	<div class="bank_bind">
		<div class="bind">
			<img class='bind_img' src="../../img/user_wechat2.png"/>
			绑定微信支付
			<img class="true_img" src="../../img/user_true.png"/>
		</div>
		<div class="bind bind2">
			<img class='bind_img' src="../../img/user_pay.png"/>
			绑定支付宝
		</div>
	</div>
	<!--提示-->
	<div class="bank_title">请绑定持卡人的银行卡，以免打款失败</div>
	
	<!--绑定信息填写-->
	<div class="bank_bind2">
		<div class="bind">
			<label>
				<img class="bind_img2" src="../../img/user_wechat.png"/>微信号
			</label>
			<input class="bind_ipt" type="text" placeholder="输入微信账号"/>
		</div>
		<div class="bind bind2">
			<label>
				<img class="bind_img2" src="../../img/user_user.png"/>昵称
			</label>
			<input class="bind_ipt" type="text" placeholder="输入微信昵称"/>
		</div>
	</div>
	
	<div class="bind_btn">绑定</div>
	<!--右侧固定-->
	<div class="right_fixed right_fixed2">
		<img src="../../img/prev.png"/>
		<img src="../../img/car_icon.png"/>
	</div>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html> 