<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">消息</span>
		<img class="more_img" src="../../img/more.png"/> 
	</div>
	<div class="box3"></div>
	<!--时间-->
	<div class="message_date">2015-12-02 早上09:54</div>
	<!--信息列表-->
	<div class="message_list clearfix">
		<div class="message_title1 clearfix">恭喜店主  顾客收货</div>
		<div class="message_list1 clearfix">
			<div class="message_title">订单编号：</div>
			<div class="message_text">54323432454345</div>
		</div>
		<div class="message_list1 clearfix">
			<div class="message_title">收货商品：</div>
			<div class="message_text">KUYURA美肌护手霜（天然果香型）150ml（韩国直送）</div>
		</div>
		<div class="message_list1 clearfix">
			<div class="message_title">实际收入：</div>
			<div class="message_text message_price">￥2.00</div>
		</div>
		<div class="message_bottom clearfix">
			<div class="message_title1">查看详情</div>
			<img class="message_right" src="../../img/detail_icon5-08.png"/>
		</div>
	</div>
	<div class="message_date">2015-12-02 早上09:54</div>
	<div class="message_list clearfix">
		<div class="message_title1 clearfix">恭喜店主  顾客收货</div>
		<div class="message_list1 clearfix">
			<div class="message_title">订单编号：</div>
			<div class="message_text">54323432454345</div>
		</div>
		<div class="message_list1 clearfix">
			<div class="message_title">收货商品：</div>
			<div class="message_text">KUYURA美肌护手霜（天然果香型）150ml（韩国直送）</div>
		</div>
		<div class="message_list1 clearfix">
			<div class="message_title">实际收入：</div>
			<div class="message_text message_price">￥2.00</div>
		</div>
		<div class="message_bottom clearfix">
			<div class="message_title1">查看详情</div>
			<img class="message_right" src="../../img/detail_icon5-08.png"/>
		</div>
	</div>
	<div class="message_date">2015-12-02 早上09:54</div>
	<div class="message_list clearfix">
		<div class="message_title1 clearfix">恭喜店主  顾客收货</div>
		<div class="message_list1 clearfix">
			<div class="message_title">订单编号：</div>
			<div class="message_text">54323432454345</div>
		</div>
		<div class="message_list1 clearfix">
			<div class="message_title">收货商品：</div>
			<div class="message_text">KUYURA美肌护手霜（天然果香型）150ml（韩国直送）</div>
		</div>
		<div class="message_list1 clearfix">
			<div class="message_title">实际收入：</div>
			<div class="message_text message_price">￥2.00</div>
		</div>
		<div class="message_bottom clearfix">
			<div class="message_title1">查看详情</div>
			<img class="message_right" src="../../img/detail_icon5-08.png"/>
		</div>
	</div>
	
	<!--右侧固定-->
	<div class="right_fixed right_fixed2">
		<img src="../../img/prev.png"/>
	</div>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html> 