<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">推广二维码</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	<!--输入框部分-->
	<div class="code_title">扫一扫或长按识别二维码</div>
	<img class="code_img" src="../../img/user_code.png"/>
	<!--右侧固定-->
	<div class="right_fixed right_fixed3">
		<img src="../../img/prev.png"/>
		<img src="../../img/car_icon.png"/>
	</div>
	
	<!--图标-->
	<div class="code_foot">
		<div class="code_list">
			<img src="../../img/code_save.png"/> 
			保存至手机
		</div>
		<div class="code_list">
			<img src="../../img/user_friend.png"/>
			分享朋友圈
		</div>
		<div class="code_list">
			<img src="../../img/code_share.png"/>
			分享好友
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html> 