<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
	<style type="text/css">
		.set_list2{
			height: 1.34rem;
			line-height: 1.34rem;
		}
		.add_head{
			width: 1.03rem;
			height: 1.03rem;
			margin-top:0.15rem
		}
		.user_set{
			background-color: #FFFFFF;
		}
		.set_btn{
			margin:0.3rem auto 0;
		}
		.right_text1{
			width:2rem
		}
	</style>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">设置</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	<div class="box3"></div>
	<!--设置列表-->
	<div class="set_mian user_set">
		<div class="set_list set_list2">
			<div class="list_left">
				<img class="left_icon" src="../../img/set_icon1.png"/>
				<span class="left_text">头像</span>
			</div>
			<img class="add_head" src="../../images/detail_head.png"/>
		</div>
		<div class="set_list">
			<div class="list_left">
				<img class="left_icon" src="../../img/set_icon.png"/>
				<span class="left_text">昵称</span>
			</div>
			<div class="list_right">
				<span class="right_text">侨盟小店</span>
				<img class="boundary_img2" src="../../img/detail_icon5-08.png"/>
			</div>
		</div>
		<div class="set_list">
			<div class="list_left">
				<img class="left_icon" src="../../img/set_icon1.png"/>
				<span class="left_text">店铺号</span>
			</div>
			<div class="list_right">
				<span class="right_text">未设置</span>
				<img class="boundary_img2" src="../../img/detail_icon5-08.png"/>
			</div>
		</div>
		<div class="set_list">
			<div class="list_left">
				<img class="left_icon" src="../../img/set_icon2.png"/>
				<span class="left_text">个人介绍</span>
			</div>
			<div class="list_right">
				<img class="boundary_img2" src="../../img/detail_icon5-08.png"/>
			</div>
		</div>
		<div class="set_list">
			<div class="list_left">
				<img class="left_icon" src="../../img/set_icon3.png"/>
				<span class="left_text">登录密码</span>
			</div>
			<div class="list_right">
				<span class="right_text">换绑</span>
				<img class="boundary_img2" src="../../img/detail_icon5-08.png"/>
			</div>
		</div>
		<div class="set_list set_list1">
			<div class="list_left">
				<img class="left_icon" src="../../img/shop_icon7.png"/>
				<span class="left_text">绑定手机号(尾号8384)</span>
			</div>
			<div class="list_right">
				<span class="right_text right_text1">修改</span>
				<img class="boundary_img2" src="../../img/detail_icon5-08.png"/>
			</div>
		</div>
	</div>
	<div class="reg_btn set_btn">保存</div>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html> 