<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">绑定提现账户</span>
		<img class="more_img" src="../../img/more.png"/> 
	</div>
	<div class="box3"></div>
	<!--银行列表-->
	<div class="partner_main clearfix">
		<img class="user_partner" src="../../img/user_partner.png"/>
		<div class="partner_box">
			<div class="partner_title">直接邀请</div>
			<div class="partner_text">
				分享到微信、QQ等，好友领取红包并下载登录即可成为合伙人，各得10元红包。
			</div>
		</div>
	</div>
	<div class="partner_main clearfix">
		<img class="user_partner" src="../../img/user_partner1.png"/>
		<div class="partner_box">
			<div class="partner_title">二维码邀请</div>
			<div class="partner_text">
				分享到微信、QQ等，好友领取红包并下载登录即可成为合伙人，各得10元红包。
			</div>
		</div>
	</div>
	
	
	
	<!--右侧固定-->
	<div class="right_fixed right_fixed2">
		<img src="../../img/prev.png"/>
	</div>
	
	<div class="partner_foot">
		<img src="../../img/user_partner2.png"/>
		<span>合伙人规则</span>
	</div>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html> 