<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">收货地址</span>
		<img class="more_img" src="../../img/more.png"/> 
	</div>
	<div class="box3"></div>
	<div class="address_list address_name">
		<img src="../../img/address_icon.png"/>
		<input type="text" placeholder="填写收货人姓名"/>
	</div>
	<div class="address_list">
		<img src="../../img/address_icon1.png"/>
		<input type="text" placeholder="填写手机号码"/>
	</div>
	<div class="address_list">
		<img src="../../img/address_icon2.png"/>
		<input type="text" placeholder="填写所在地邮政编码"/>
	</div>
	<div class="address_list">
		<img src="../../img/address_icon3.png"/>
		<span>福建省  福州市</span>
		<img class="address_right" src="../../img/address_right.png"/>
	</div>
	<div class="address_list1 address_prove">福建省</div>
	<div class="address_list1 address_list2">福州市</div>
	<div class="address_list1">鼓楼区</div>
	<div class="address_list1">鼓楼区</div>
	<div class="address_list1">鼓楼区</div>
	<div class="address_list1">鼓楼区</div>
	<div class="address_list1">鼓楼区</div>
	<div class="address_list1">鼓楼区</div>
	<!--右侧固定-->
	<div class="right_fixed right_fixed2">
		<img src="../../img/prev.png"/>
	</div>
	
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="../../js/style.js" ></script>
</body>
</html> 