<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, sinitial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>侨盟</title>
   	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
</head>
<body>
	<!--头部-->
	<div class="head">
		<img class="return_img" src="../../img/return.png"/>
		<span class="head_text1">返回</span>
		<span class="head_text2">关闭</span>
		<span class="head_text3">搜索店铺</span>
		<img class="more_img" src="../../img/more.png"/>
	</div>
	
	<!--搜索部分-->
	<div class="manage_nav">
		<img class="manage_prev2" src="../../img/prev2.png"/>
		<div class="manage_input2">
			<div class="search_box search_box3">
				<div class="search_type">
					<span class="type_shop">店铺</span>
					<img class="down_img" src="../../img/down.png"/>
				</div>
				<input class="search_ipt search_ipt2" type="text" name="" id="" placeholder="请输入关键词搜索" />
				<img class="seardh_img" src="../../img/seardh.png"/>
			</div>
			
			<div class="search_bounced">
				<div class="bounced_goods">
					<img class="search_bag" src="../../img/search_bag.png"/>
					<span class="goods_text">商品</span>
				</div>
				<div class="bounced_shop">店铺</div>
			</div>
		</div>
	</div>
	
	<!--收藏导航-->
	<ul class="search_nav">
		<li class="search_active">综合</li>
		<li>信用</li>
	</ul>
	
	<!--主要显示部分-->
	<div class="search_main">
		<div class="main_head">
			<img class="head_img2" src="../../images/detail_head.png"/>
			<div class="head_desc">
				<div class="head_title">侨盟店铺0000的小店</div>
				<div class="desc_text">
					<img class="stores" src="../../img/stores.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
				</div>
				<div class="desc_text1">销量3345   共1390件宝贝</div>
			</div>
			<div class="enter">进入店铺</div>
		</div>
		<!--图片展示部分-->
		<div class="img_show">
			<div class="show_detail">
				<img src="../../images/bg21.jpg"/>
				<div class="show_price">￥56</div>
			</div>
			<div class="show_detail">
				<img src="../../images/bg21.jpg"/>
				<div class="show_price">￥56</div>
			</div>
			<div class="show_detail">
				<img src="../../images/bg21.jpg"/>
				<div class="show_price">￥56</div>
			</div>
		</div>
	</div>
	<div class="search_main">
		<div class="main_head">
			<img class="head_img2" src="../../images/detail_head.png"/>
			<div class="head_desc">
				<div class="head_title">侨盟店铺0000的小店</div>
				<div class="desc_text">
					<img class="stores" src="../../img/stores.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
				</div>
				<div class="desc_text1">销量3345   共1390件宝贝</div>
			</div>
			<div class="enter">进入店铺</div>
		</div>
		<!--图片展示部分-->
		<div class="img_show">
			<div class="show_detail">
				<img src="../../images/bg21.jpg"/>
				<div class="show_price">￥56</div>
			</div>
			<div class="show_detail">
				<img src="../../images/bg21.jpg"/>
				<div class="show_price">￥56</div>
			</div>
			<div class="show_detail">
				<img src="../../images/bg21.jpg"/>
				<div class="show_price">￥56</div>
			</div>
		</div>
	</div>
	<div class="search_main">
		<div class="main_head">
			<img class="head_img2" src="../../images/detail_head.png"/>
			<div class="head_desc">
				<div class="head_title">侨盟店铺0000的小店</div>
				<div class="desc_text">
					<img class="stores" src="../../img/stores.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
					<img class="heart_img" src="../../img/heart.png"/>
				</div>
				<div class="desc_text1">销量3345   共1390件宝贝</div>
			</div>
			<div class="enter">进入店铺</div>
		</div>
		<!--图片展示部分-->
		<div class="img_show">
			<div class="show_detail">
				<img src="../../images/bg21.jpg"/>
				<div class="show_price">￥56</div>
			</div>
			<div class="show_detail">
				<img src="../../images/bg21.jpg"/>
				<div class="show_price">￥56</div>
			</div>
			<div class="show_detail">
				<img src="../../images/bg21.jpg"/>
				<div class="show_price">￥56</div>
			</div>
		</div>
	</div>
	<script src="../../js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/style.js" type="text/javascript" charset="utf-8"></script>
</body>
</html> 